{% extends "base.html" %}
{% block title %} Booklight{% endblock %}
{% block content %}
<div class="row featurette align-items-center">
    <div class="container col-md-6 order-md-4 col-lg-7">
        <h2 class="featurette-heading">📖ჩვენს შესახებ</h2>
        <h5><p>2025 წელს, წიგნისადმი სიყვარულითა და მკითხველის საჭიროებებზე ზრუნვით, შეიქმნა BOOKLIGHT —
            ადგილი, სადაც წიგნი არა მხოლოდ იყიდება, არამედ იქცევა გამოცდილებად. ჩვენი მიზანი იყო შეგვექმნა სივრცე,
            რომელიც აერთიანებს:</p></h5>
        <h5>
            <li>📚 მდიდარ ლიტერატურულ არჩევანს</li>
            <li>💡 ავტორებზე და შინაარსებზე დეტალურ ინფორმაციას</li>
            <li>💬 ემოციური კატეგორიებით შერჩევის საშუალებას</li>
            <li>🧠 ინტერაქტიურ ტესტებს — რომელი წიგნი ხარ?</li>
        </h5>
        <h4><p> BOOKLIGHT შეიქმნა იმისთვის, რომ გაამარტივოს არჩევანი და გახადოს კითხვა ისევ პოპულარული. ეს არის ადგილი
            ყველა
            თაობისთვის.</p></h4>
        <h5><p>📬 საკონტაქტო ინფორმაცია</p></h5>
        <h6>
            <ol>📍 მისამართი:საქართველო, თბილისი</ol>
            <ol>📞 ტელეფონი: +995 888 888 888</ol>
            <ol> ✉ ელფოსტა: Booklight2025@gmail.com</ol>
        </h6>
    </div>
    <div class="container col-md-4 col-lg-auto order-md-2">
        <img src="https://images.stockcake.com/public/7/5/d/75d5af72-de9a-4176-bc00-cef7343011a7_large/enchanted-reading-nook-stockcake.jpg"
             alt="Booklight" class="img-fluid" height="70" width="400">
    </div>
</div>

{% endblock %}